* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

:root {
  --color-1: #26547c;
  --color-2: #ef476f;
  --color-3: #ffd166;
  --color-4: #06d6a0;
  --color-5: #fcfcfc;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.5;
}

body {
  background-color: var(--color-1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.transparent {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
